
.todo-items-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-size: 18px; /* make the font size bigger */
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item.completed {
  text-decoration: line-through;
}

.todo-item span {
  flex-grow: 1;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #dc3545;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

/* add some margin between list items */
.todo-item + .todo-item {
  margin-top: 10px;
}


.todo-list {
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.todo-list h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.todo-list-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.todo-list-input-container {
  display: flex;
  margin-bottom: 20px;
}

.todo-list-input-container input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.todo-list-input-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.todo-items-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item.completed {
  text-decoration: line-through;
}

.todo-item span {
  flex-grow: 1;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #dc3545;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
